<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>물품 관리</title>
    <link rel="icon" type="image/x-icon" href="/assets/kgu%20icon.ico" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="/css/styles_admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

</head>

<body>
    <div class="container-fluid d-flex align-items-stretch">
        <nav id="sidebar" class="">
            <h1><a href="/" class="logo">KGU Rental</a></h1>
            <ul class="list-unstyled components mb-5">
                <!-- <li class="active">
                    <a href="#"><span class="fa fa-home mx-3"></span> Home</a>
                </li> -->
                <li class="active">
                    <a href="#"><span class="fa fa-sticky-note mx-3"></span> 물품 관리</a>
                </li>
                <li class="active">
                    <a href="/adminPage/reservationList"><span class="fa fa-user mx-3"></span> 예약 관리</a>
                </li>
                <!-- <li>
                    <a href="#"><span class="fa fa-paper-plane mx-3"></span> Information</a>
                </li> -->
            </ul>
        </nav>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper" class="container-fluid">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-4">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" th:if="${session.loginUser != null &&!session.loginUser.getName().equals('admin')}" href="/selectDate">Reserve</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login" th:if="${session.loginUser == null}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/users/new" th:if="${session.loginUser == null}">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout" th:if="${session.loginUser != null}" id="logout">Logout</a></li>
                            <!--로그인 시에만 나오게 구현하기-->
                            <li class="nav-item"><a class="nav-link" href="/mypage" th:if="${session.loginUser != null &&!session.loginUser.getName().equals('admin')}" >MyPage</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid px-4">
                <p></p>
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">물품 관리</h1>
                <p class="mb-4"> 물품 관리는 데이터테이블 우측의 물품 삭제 버튼을 통해 가능합니다. 생성은 우측 상단의 물품 생성을 이용합니다.</p>

                <!-- DataTales -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-inline-block align-items-center">
                        <div class="">
                            <h6 class="m-0 font-weight-bold text-primary d-inline-block">전체 물품</h6>

                            <button class="btn btn-outline-primary float-right" onClick="location.href='registerForm.html'"><a href="/register">물품
                                    생성</a></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                            cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                            style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 100px;">대여 번호</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Position: activate to sort column ascending"
                                                        style="width: 259px;">물품명</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 126px;">물품 수량</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Age: activate to sort column ascending"
                                                        style="width: 219px;">대여가능 기간</th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                        style="width: 100px;">물품 삭제</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="odd" th:each=" Item : ${items}">
                                                    <td class="sorting_1"><span th:text="${Item.getId()}"></span></td>
                                                    <td><span th:text="${Item.getItemName()}"></span></td>
                                                    <td><span th:text="${Item.getItemCount()}"></span></td>
                                                    <td><span th:text="${'7일'}"></span></td>
                                                    <td>
                                                        <a
                                                           th:href="'javascript:itemDelete('+${Item.getId()}+')'"
                                                           class="btn btn-danger">삭제</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-light">
        <div class="container px-4">
            <p class="mb-5 fs-6 fw-lighter fst-italic text-center">Copyright &copy; kgu rental 2022</p>
        </div>
    </footer>
    <script>
        function itemDelete(id) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/adminPage/" + id + "/itemDelete");
            document.body.appendChild(form);
            form.submit();
        }
    </script>
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/admin.item.js"></script>
    <!-- Core theme JS -->
</body>

</html>