<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
</head>
<body>
<div class="container">

    <form role="form" action="/reservation" method="post">
        <div class="form-group">
            <div >
                <label>선택 날짜 </label>
                <input type="text" th:name="date" th:value="${date}"  >
            </div>

            <label for="items">품목</label>

            <select name="itemId" id="items" class="form-control">
                <option value="">품목</option>
                <option th:each="item : ${items}"
                        th:value="${item.getId()}"
                        th:text="|물품: ${item.getItemName()} , 남은 수량: ${item.getItemCount()}개|" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>

</div> <!-- /container -->
</body>
</html>